@charset "utf-8";
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
table,
tr,
td,
input,
button,
em,
img,
dl,
dt,
dd,
form,
theader,
tbody,
tfoot,
a,
span,
select,
label,
strong,
caption,
hr {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Microsoft Yahei"!important;
    background-color: #f4f4f4!important;
    overflow-x: hidden;
}

ul,
ol,
li {
    list-style: none
}

a {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

input,
textarea {
    outline: 0;
    border: none;
}

img {
    outline: 0;
    border: none;
}

.rel {
    position: relative;
}

.hide {
    display: none;
}

.ten_cen {
    text-align: center;
}

.f12 {
    font-size: 12px!important;
}

.f13 {
    font-size: 13px!important;
}

.f14 {
    font-size: 14px!important;
}

.f16 {
    font-size: 16px!important;
}

.f18 {
    font-size: 18px!important;
}

.f20 {
    font-size: 20px!important;
}

.f24 {
    font-size: 24px!important;
}

.f30 {
    font-size: 30px!important;
}

.f36 {
    font-size: 36px!important;
}

.f40 {
    font-size: 40px!important;
}

.gray0 {
    color: #000000!important;
}

.gray3 {
    color: #333333!important;
}

.gray6 {
    color: #666666!important;
}

.gray9 {
    color: #999999!important;
}

.mt20 {
    margin-top: 20px!important;
}

.mt25 {
    margin-top: 25px!important;
}

.mt30 {
    margin-top: 30px!important;
}

.mt0 {
    margin-top: 0px!important;
}

.mt05 {
    margin-top: 5px!important;
}

.mt10 {
    margin-top: 10px!important;
}

.mt15 {
    margin-top: 15px!important;
}

.mt12 {
    margin-top: 12px!important;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfix {
    zoom: 1;
}


/* 颜色 */

.red {
    color: #df3031;
}
a:hover{color: #df3031!important;}

/*响应式类名 st*/

@media screen and (max-width: 1600px) {
    .fang_responsive {
        width: 1100px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1601px) {
    .fang_responsive {
        width: 1380px;
        margin: 0 auto;
    }
}


/*响应式类名 end*/


/*头部*/

.nav_wrap {
    width: 100%;
    background-color: #DF3031;
    height: 70px;
}

.nav .fang_logo {
    padding: 20px 0;
}

.nav_category a {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 70px;
    margin-right: 5px;
    float: left;
    display: inline;
    padding: 0 15px;
}
.nav_category a:hover{color: #FFFFFF!important}
.nav_category a.fang_nav_h5 {
    background: url(../assets/images/fang_nav_h5.png) no-repeat!important;
    width: 88px;
    height: 70px;
    margin-right: -20px;
    text-align: center;
    color: #DF3031;
    padding: 0;
}

.nav_category a.fang_nav_h5.router-link-exact-active {
    position: relative;
}

.nav_category a.fang_nav_h5.router-link-exact-active:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 12px;
    background: url(../assets/images/nav_gang.png) repeat-x center bottom;
    width: 44px;
    height: 3px;
}

.nav_category a.fang_nav_hui {
    background: url(../assets/images/fang_nav_hui.png) no-repeat;
    width: 199px;
    height: 70px;
    margin-right: 0;
    padding: 0
}

.nav_category .router-link-exact-active {
    background: url(../assets/images/nav_gang.png) repeat-x center bottom;
}